@import url('bootstrap/dist/css/bootstrap.min.css');
@import '~antd/dist/antd.css';

html {
	background: #121212;
	color: #ffffff;
}

body {
	overflow-y: auto;
	min-height: 100vh;
}

/* menu */
nav .nav-link {
	color: #ffffff;

	&:focus {
		color: #ffffff;
	}
}